@import 'variables';
@import 'adapt';
 
.main{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(18 18 18);
    overflow: hidden;
   
  }

.sectionMainMargin {
  /* max-width: 1400px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
   
} 
.section01 {   
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(2330px * 1vw/14.4px);   
  z-index: 1;
  background: url(../assets/mainBanner1.gif);
  background-size: cover;
   
}
.section01MainImage {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}
.section01Nav {
  display: flex; 
  align-items: center;  
  margin-top: adaptive-margin(30, 40);
}
.section01NavLogo {  
    font: 400 46px /1 $fontF;
    font-size: adaptive-margin(46, 74);
    color: rgb(254, 254, 254);
    letter-spacing: -1.38px;     
    min-width: adaptive-margin(460, 614);
    cursor: url('../assets/cursor/2.png'), pointer;
     
}
.section01NavBox {
  display: flex;
  align-items: end;
  width: adaptive-margin(620, 880);
  justify-content: space-between;
  cursor: url('../assets/cursor/2.png'), pointer;
  flex: auto;
  
}
.section01NavBoxLeft {
  display: flex;
  gap: 30px;
  margin-bottom: adaptive-margin(8, 6);
   
   
}
.collectionsBox {
  display: flex;
  gap: 6px;
  position: relative;
  align-items: center;
}
.collectionsButton {
  
  font: 500 18px / 1 $fontR;
  font-size: adaptive-margin(18, 22);
  color: rgb(254, 254, 254);
  letter-spacing: -0.54px;
}
.collectionsImage {
  width: 9px;
  height: 9px;
  margin-top: adaptive-margin(0,2);
  /* margin-top: adaptive-margin(5, 9); */
  transition: all 0.2s linear;
}
.additionalBlock {
 /*  width: 139px;
  height: 124px;   */ 
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: #212121;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 27px;
  width: 140px;
 /*  padding-right: 47px; */
  flex-direction: column;
  transition: all 0.2s linear;
  gap: 16px;
  display: flex;
  opacity: 0; /* серый цвет */
  position: absolute; /* позиционируем его абсолютно */
  z-index: 10; /* чтобы блок располагался поверх других элементов */
  margin-top: 5px; 
  top: 100%;
  left: -9px;/* добавление небольшого отступа от родительского элемента */
}
.additionalBlockLink {
  color: #707070;
  font-family: $fontR;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 22px */
  letter-spacing: -0.66px;
  transition: 0.2s linear all;
  display: flex;
  align-items: center;

  &:hover {
    color: #fefefe;
     
    .additionalBlockIcon {
      margin-right: 5px;
      width: adaptive-margin(5,8);
      height: adaptive-margin(5,8);
      opacity: 1;
    }
  }
}

.additionalBlockIcon {
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: all 0.2s linear;
}

.whitePaperButton {
  font: 500 18px / 1 $fontR;
  font-size: adaptive-margin(18, 22);
  color: rgb(254, 254, 254);
  letter-spacing: -0.54px;
}
.blogButton {
  font: 500 18px / 1 $fontR;
  font-size: adaptive-margin(18, 22);
  color: rgb(254, 254, 254);
  letter-spacing: -0.54px;
  cursor: url('../assets/cursor/2.png'), pointer;
}

.section01NavBoxRight {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;   
  margin-top: adaptive-margin(0,-2);
}
.playerInfoSection {
  margin-top: adaptive-margin(0, 2);
}
.playerName {
  margin: 0 14px 0 0;
  /* width: 100px; */
  height: 16px;
  font: 500 16px/1 $fontR;
  font-size: adaptive-margin(16, 18);
  color: rgb(254, 254, 254);
}
.playerIdSection {
  display: flex;
  align-items: baseline;
  gap: 0 6px;
  margin-top: adaptive-margin(0,2);
}
.playerImage {
  width: adaptive-margin(40 , 53);
  height: adaptive-margin(40 , 53);
 /*  margin-top: -10px; */
  border-radius: 20px;
}
.playerIdImage {
  margin: 2px 0 adaptive-margin(3, 6);
  width: adaptive-margin(10,14);
  height: adaptive-margin(10,14);

}
.playerIdText {   
  font: 400 14px / 1.2 $fontR, Helvetica, Arial, serif;
  font-size: adaptive-margin(14, 18);
  color: rgb(112, 112, 112);
}
.additionalBlockPlayer{
  position: absolute;  
  z-index: 10; 
  margin-top: 5px; 
  top: 100%;
  right: 0;
  width: 573px;
  height: 300px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.10);
  background: #212121;
  transition: all 0.2s linear;
  display: flex;
  gap: 10px;
  padding: 20px 30px;
  padding-right: 10px;
  opacity: 0;
}
.additionalBlockPlayerGif {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
}
.additionalBlockPlayerBox2 {
  display: flex;
  flex-direction: column;  
  width: 160px;
}
.additionalBlockPlayerBox2Title {
  color: #717171;
  font-family: $fontR;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;  
  margin-bottom: 10px;
  padding-left: 10px;
}
.additionalBlockPlayerLink {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 36px;
  font-family: $fontR;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; 
  display: flex;   
  color: #fefefe;  
  /* color: #707070;    */
  transition: all 0.2s linear;
  &:hover {
    /* color: #34D3D7; */
    background-color: #313131;
    border-radius: 4px;

    .additionalBlockPlayerIcon {
       
           
       
      /* color: #34D3D7; */
      /* color: #34D3D7;
      stroke:#34D3D7; */
      path {
        /* fill:#34D3D7; */
      }
    }
  }
}
.additionalBlockPlayerIcon { 
  width: 16px;
  height: 16px;
  margin-bottom: 3px;
  
  transition: all 0.2s linear;
  path {
    fill:#fefefe;
  }
  
}
.additionalBlockPlayerBox3 {
  display: flex;
  flex-direction: column;
  flex: 1;
   

}
.additionalBlockPlayerBox3Items {
  display: flex;
  flex-direction: column;
   
}
.additionalBlockPlayerLinkLast {
  margin-top: auto;
  gap: 0;
  span {
    margin-top: 2px;
  }
  .additionalBlockPlayerIcon { 
    width: 32px;
    height: 32px;
    margin: 0;
    scale: 0.5;
  }
  &:hover {
    color: #FD4C33;;
     
    .additionalBlockPlayerIcon {
       
       rect{
        fill:#FD4C33;
       }
      
      path {
        fill:#FD4C33;
      }
    }
  }
}
.additionalBlockPlayerBorderLine {
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.20);
}
.section01NavBtn { 
  margin-left: adaptive-margin(40,56);   
  cursor: url('../assets/cursor/2.png'), pointer;
  flex: 1;
}
.section01NavBtnBox{
  position: relative;
  width: adaptive-margin(236, 295);
  height: adaptive-margin(36, 45);
  &:hover {
    .playPeexiButton {
      top: 0;
      left: 0;
      background-color: #34D3D7;
      path {
        fill: #34D3D7;
      }
    }
    .playPeexiButtonText {
      left: calc(50% - adaptive-margin(29, 35));
      top: calc(50% - adaptive-margin(9, 9));
    }
  }
}
.section01BtnSvg {
  width: adaptive-margin(236, 295);
  height: adaptive-margin(36, 45);
}
 
.playPeexiButton {
  position: absolute;
  top: adaptive-margin(-6, -8);
  left: adaptive-margin(-6, -8);
  width: adaptive-margin(236, 295);
  height: adaptive-margin(36, 45);
 /*  background-image: url(../assets/headerBtn.svg); */
  /* background-position: center; */
  text-transform: capitalize; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  font: 500 16px/1.2 $fontR, Helvetica, Arial, serif;
  font-size: adaptive-margin(16, 18);
  color: rgb(18, 18, 18);
  letter-spacing: -0.48px;
  text-align: center;
  /* background-size: 100%;
  background-repeat: no-repeat; */
  cursor: url('../assets/cursor/2.png'), pointer;
  transition: all 0.2s linear;
  mask: url('../assets/maskHeader.svg');
  mask-repeat: no-repeat;
  mask-size: 100%;
  path {
    transition: all 0.2s linear;
    width: adaptive-margin(234, 295);
    height: adaptive-margin(34, 45);
  }
   
}
.playPeexiButtonText {
  font: 500 16px/1.2 $fontR, Helvetica, Arial, serif;
  font-size: adaptive-margin(16, 18);
  color: rgb(18, 18, 18);
  letter-spacing: -0.48px;
  text-align: center;
  position: absolute;
  left: calc(50% - adaptive-margin(35, 43));
  top: calc(50% - adaptive-margin(15, 17));
  transition: all 0.2s linear;
}
.section01MainBoxTitle {
  display: flex;
  gap: 60px;
   
  margin-top: adaptive-margin(76, 110);
  margin-bottom: adaptive-margin(24, 37);
}
.section01MainTitle {
  cursor: url('../assets/cursor/1.png'), default;
  text-transform: uppercase;
   
  font-weight: 400;
  font-family: $fontF;
  font-size: adaptive-margin(280, 380);
  line-height: adaptive-margin(141, 197);
  color: rgb(254, 254, 254);
  margin-top: adaptive-margin(24, 29);
}
.section01MainSubtitle {   
    width: adaptive-margin(512, 645);     
    font: 500 20px / 1.2 $fontR, Helvetica, Arial, serif;
    font-size: adaptive-margin(20, 26);
    color: rgb(254, 254, 254);
    
    cursor: url('../assets/cursor/1.png'), default;
}
 
 
.section01MainBtnPlay {
  margin-top: 25px;
  cursor: url('../assets/cursor/2.png'), pointer;
  width: 100%;
  position: relative;  
  &:hover {
    .section01MainBtnPlayBoxBtn {
      top: 0;
      left: adaptive-margin(6,8);
      background-color: #34D3D7;
      path {
        fill: #34D3D7;
      }
    }
    /* .section01MainBtnPlayBoxBtnText { 
      left: calc(50% - adaptive-margin(69,78));
      top: calc(50% - adaptive-margin(10,9));
    } */
  }
  
} 
.section01MainBtnPlayBoxSvg {
    width: adaptive-margin(410, 492);
    height: adaptive-margin(44, 53);
    background: #fefefe;
    margin-left: adaptive-margin(6,8);
    mask: url('../assets/btnMaskBack2.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
  /* path {
    width: adaptive-margin(410,492);
    height: adaptive-margin(44,52); 
  } */
}
.section01MainBtnPlayBoxBtn {  
  z-index: 1;
  width: adaptive-margin(410,492);
  height: adaptive-margin(44,53); 
  position: absolute;
  top: adaptive-margin(-6,-8);
  left:0 ;
  /* background-image: url(../assets/btnMain2.svg);
  background-position: center; */
  text-transform: capitalize;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: url('../assets/cursor/2.png'), pointer;
  transition: all 0.2s linear;
  background-color: #fefefe;
  font: 500 16px/1.2 $fontR, Helvetica, Arial, serif;
  line-height: 0.7;
  font-size: adaptive-margin(16, 18);
  color: rgb(18, 18, 18);
  letter-spacing: -0.48px;  
  mask: url('../assets/btnMask2.svg');
  mask-repeat: no-repeat;
  mask-size: 100%;
  path {
    transition: all 0.2s linear;

  }
   
}
/* .section01MainBtnPlayBoxBtnText {
  font: 500 16px/1.2 $fontR, Helvetica, Arial, serif;
  font-size: adaptive-margin(16, 18);
  color: rgb(18, 18, 18);
  letter-spacing: -0.48px;   
  text-align: center;
  position: absolute;
  left: calc(50% - adaptive-margin(75, 85));
  top: calc(50% - adaptive-margin(14, 16));
  transition: all 0.2s linear;
} */
 


.aboutProjectCont {
margin-top: auto;
display: flex;
flex-direction: column; 
width: adaptive-margin(630, 823);
margin-left: adaptive-margin(460, 614);
margin-bottom: adaptive-margin(197, 335);
}
.aboutProjectHeading {   
  font: 400 36px/1.1 $fontF, Helvetica, Arial, serif;
  font-size: adaptive-margin(36, 46);
  text-transform: uppercase;
  color: rgb(254, 254, 254);
  letter-spacing: -1.08px;
  cursor: url('../assets/cursor/1.png'), default;
}
.joinExploreSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: adaptive-margin(2,9);
  margin-bottom: adaptive-margin(9,16);
  cursor: url('../assets/cursor/2.png'), pointer;
}
.joinExploreSubtitle {   
  font: 500 20px/1.2 $fontR, Helvetica, Arial, serif;
  font-size: adaptive-margin(20, 26);
  color: rgb(112, 112, 112);
  padding-bottom: 2px;
}
.joinExploreSubtitleActive {   
  color: rgb(254, 254, 254);
  border-bottom: 2px #fff solid;
}
 
.rectWhoWeAreSection {
  width: 100%;
  height: adaptive-margin(340,444);
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #404040;
  display: flex;
}
.rectWhoWeAreSectionBox {
  width: 100%;
  display: flex;
  transition: all 0.4s ease-in-out;
}
.rectWhoWeAreSectionImg {
  flex:1;
  height: 100%;
  width:100%;
  object-fit: cover;
  
}
.aboutProjectItems {
  height: 188px;
  cursor: url('../assets/cursor/1.png'), default;
}
.worldDescription {
  margin: 16px 0 0;
  /* margin: 16px 0 12px; */
   
  /* height: 44px; */
  font: 400 18px/1.2 $fontR, Helvetica, Arial, serif;
  font-size: adaptive-margin(18, 20);
  color: rgb(254, 254, 254);
}
.aboutProjectBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}
.aboutProjectBoxElement {
  display: flex;
  gap: 11px;
  
}
.rectAdventureSection {
  margin-top: 7px;
  width: 4px;
  height: 4px;
  background-color: rgb(254, 254, 254);
}
.aboutProjectBoxElementText { 
  font: 400 18px/1.2 $fontR, Helvetica, Arial, serif;
  font-size: adaptive-margin(18, 20);
  color: rgb(254, 254, 254);
   
}
.burger {
  display: none;
}
.section01NavBoxRight_mob {
  display: none;
}
@media (min-width:1441px) {
  /* .sectionMainMargin {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(40px + 1vw);
    padding-right: calc(40px + 1vw);
  } */
}
@media (max-width:1440px) {
  .section01MainBtnPlayBoxSvg {
    width: 409px;
    height: 44px;
    margin-left: 6px;
}
.section01MainBtnPlayBoxBtn {  
   
  width: 410px;
  height: 44px; 
  font-size: 16px;
  top: -6px;
  left: 0px;
  
   
}
.section01MainBtnPlay {
   
  &:hover {
    .section01MainBtnPlayBoxBtn {
      top: 0;
      left: 6px;
      background-color: #34D3D7;
      path {
        fill: #34D3D7;
      }
    }
    
  }
}
.section01NavBtn {
  margin-left: 40px;
}
  .section01NavLogo {
    font: 400 46px / 1 Fifacks;
  }
  .collectionsButton, .whitePaperButton, .blogButton {
    font-size: 18px;
    line-height: 0.7;
  }
  .section01MainBoxTitle {
    margin-bottom: 16px;
  }
  .section01MainSubtitle {
    font-size: 20px;
    width: 512px;
  }
  .playerIdImage {
    margin:0;
    margin-bottom: 2px;
    width: 12px;
    height: 12px;
  }
  .section01NavBtnBox{
     
    width: 236px;
    height: 36px;
    &:hover {
       
      .playPeexiButtonText {
        left: calc(50% - 31px);
        top: calc(50% - 9px);
      }
    }
  }
  .section01BtnSvg {
    width: 236px;
    height: 36px;
  }
   .collectionsImage {
    margin-top: 0;
   }
  .playPeexiButton {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 100%;  
    height: 36px; 
    path {
      transition: all 0.2s linear;
      width: 236px;
      height: 36px;
    }
     
  }
  .playPeexiButtonText {    
    font-size:16px;     
    left: calc(50% - 35px);
    top: calc(50% - 15px);
     
  }
  .playerName {
    font-size: 18px;
    height: auto;
  }
  .playerIdText {
    font-size: 16px;
  }
  .aboutProjectHeading {
    font-size: 36px;
  }
  .worldDescription, .aboutProjectBoxElementText {
    font-size: 18px;
  }
  
}
@media (max-width:1340px) {
  .aboutProjectCont {
    width: 630px;
     
  }
  .playerIdImage {
    
    margin-bottom: 1px;
     
  }
  .rectWhoWeAreSection {
    height: 340px;
  }
  .joinExploreSubtitle {
    font-size: 20px;
  }
}
@media (max-width:1250px) {
  .section01 {
        background-position-y: top;
        background-position-x: 60%;
  }
  .section01NavBoxLeft, .section01NavBtn {
    display: none;
  }
  .section01NavLogo {
    font: 400 46px / 22px $fontF;
    margin-top: 6px;
    align-self: center;
}
  .playerIdImage {
    
    margin-bottom: 0px;
     
  }
  .burger {
    display: block;
  }
  .section01NavBox {
    width: 200px;
    justify-content: end; 
    height: 56px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 6px;
    /* margin-top: -10px; */
    flex: none;
    margin-left: auto;
  }
  .sectionMainMargin {
    /* max-width: 1400px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
     
  } 
  .playerImage {
    width: 44px;
    height: 44px;
    /* margin-top: -10px; */
  }
  .playerIdSection {
    margin-top: 1px;
    margin-bottom: 2px;
  }
  .playerIdImage {
    width: 12px;
    height: 12px;
    margin-top: 0;
  }
  .playerInfoSection {
    margin-top: 7px;
  }
  .additionalBlockPlayer {
    display: none;
  }
  .section01NavBoxRight  {
    width: 195px;
    align-items: self-end;
  }
  .section01Nav {
    margin-top: 20px;
  }
  .section01MainTitle {
    font-size: calc(18.8vw + (23) * ((100vw - 360px) / (1250 - 360)));
    margin-top: calc(7px + 29*(100vw - 360px) /(1920 - 360));
    line-height: calc(32px + 171 * (100vw - 360px) / (1920 - 360));
  }
  .aboutProjectCont {
    margin-left: calc(256px + 150 * ((100vw - 800px) / (1250 - 800)));
  }
  .section01Nav {
    align-items: baseline;
  }
}
@media (max-width:1000px) {
  .section01 {   
     
    height: 1750px;   
    z-index: 1;
     
  }
  .section01::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/main/01mainFilter.png); /* Укажите путь ко второму изображению */
    background-size: cover; /* Или используйте 'contain', 'auto' и т.д. */
     /* Задайте прозрачность по необходимости */
    z-index: -1; /* Это позволит изображению находиться позади содержимого блока */
}
  /* .section01MainTitle { 
     
    margin-bottom: 10px;
    padding-top: calc(26px + (13) * ((100vw - 360px) / (1250 - 360)));
     
  } */
  .section01MainBoxTitle {
     
    gap: 30px;
  }
  .section01NavLogo {
     
    width: fit-content;
    min-width: fit-content;
  }
  .aboutProjectCont {
    /* margin-left: adaptive-marginPh2(55,318.8); */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
  }
  .joinExploreSection {
    margin: 0px auto 11px;
  }
  .section01MainBtnPlayBoxBtn {    
    font-size: 16px;
    /* top: -6px;
    left: -6px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

}
@media (max-width:800px) {
  .aboutProjectCont {
    margin-left: auto;
    margin-right: auto;
   
  }
  .aboutProjectHeading {
    text-align: center;
  }
  .joinExploreSection {
    margin: 1px;
  }
  .joinExploreSectionMain {
    margin-bottom: 9px;
  }
}
@media (max-width:680px) {
  .section01 {    
    /* height: calc(2050px * 1vw/6.8px);    */
    z-index: 1;
     
  }
  .section01Nav {
    align-items: baseline;
  }
  .section01NavBoxRight_mob {
    display: flex;
    margin-top: 0;
    margin-bottom: 30px;
    .playerInfoSection {
      display: block;
    }
  }
  .section01MainBoxTitle {
    margin-top: 22px;
  }
  .aboutProjectCont {
    margin-bottom: 150px;
    width: 100%;
  }
  .aboutProjectHeading {
    font-size: 32px;
  }
  .joinExploreSubtitle{
    font-size: 18px;
    /* width: max-content; */
  }
  .joinExploreSection {
    justify-content: start;
  }
  .aboutProjectItems {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .aboutProjectItems {
    gap: 0;
  }
  .aboutProjectBox {
    margin-top: 14px;
  }
  .section01NavLogo {
    font-size: 40px;
  }
  .playerInfoSection {
    display: none;
  }
  .playerImage {
    border-radius: 50%;
    border: 1px solid #fefefe;
    width: 40px;
    height: 40px;
  }
  .section01NavLogo {
    
    margin-top: 7px;
     
}
  .section01NavBox {
    width: 50px;
  }
  .rectWhoWeAreSection {
    height: auto;
  }
  .rectWhoWeAreSectionImg {
    object-fit: contain;
  }
   
 
}
@media (max-width:600px) {
  .joinExploreSectionMain {
    overflow-x: scroll;
  }
   /* .joinExploreSectionMain::-webkit-scrollbar {
    height: 0;
     
  } */
  .joinExploreSection {
    white-space: nowrap;
  }
}
@media (max-width:580px) {
  
  .aboutProjectHeading {
    font-size: 30px;
  }
  .section01MainSubtitle {
    font-size: 16px;
    width: 80%;
  }
  
  
}
@media (max-width:568px) {
  .section01MainBtnPlay {
    margin-top: auto;
    margin-bottom: 120px;
  }
  .aboutProjectCont {
    margin-top: 0;
  }
  .section01MainBtnPlay {
   
    &:hover {
      .section01MainBtnPlayBoxBtn {
        top: 0;
        left: 0;
        background-color: #34D3D7;
        path {
          fill: #34D3D7;
        }
      }
      
    }
  }
  .section01MainBtnPlayBoxBtn {
    z-index: 1;
    width: 100%;
    height: adaptive-marginMin(36,50);
    font-size: 16px;
    top: -6px;
    left: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.section01MainBtnPlayBoxSvg {
    width: 100%;
    height: adaptive-marginMin(36,50);
    margin-left: 0;
}

}

@media (max-width:510px) {

.aboutProjectBox {
  margin-top: 10px;
}
}
@media (max-width:480px) {
  

  .worldDescription, .aboutProjectBoxElementText {
    font-size: 17px;
}
.aboutProjectItems {
  gap: 0;
}
.rectWhoWeAreSection {
  /* height: 420px;
  margin-left: -15px;
  width: calc(100% + 30px); */
  border-radius: 0;
  margin-left:-15px;
  width: 100vw;
}
.worldDescription {
  margin-top: 10px;
}
/* .rectWhoWeAreSectionImg {
  object-position: left;
} */
}
@media (max-width:380px) {
  .section01NavLogo {
    font-size: 34px;
  }
}
@media (max-width:1000px) {
  
}
@media (max-width:800px) {
   
}
@media (max-width:680px) {
   
}
@media (max-width:580px) {
   
}
@media (max-width:480px) {
   
  
}
