@import 'variables';
@import 'adapt';
.section03 {
    padding-top: 200px;
    /* background-color: #fff; */
    
}

.section03_box {
    display: flex;
    margin-bottom: 20px;
}
.section03_box_title {
    width: adaptive-margin(460, 614);     
    font: 400 32px / 1.1 $fontF, Helvetica, Arial, serif;
    font-size: adaptive-margin(32,42);
    color: rgb(112, 112, 112);
    text-align: justify;
    letter-spacing: -0.96px;
     
    cursor: url('../assets/cursor/1.png'), default;
}
.section03_box_text {
    width: 100%;
    font: 400 40px / 90% $fontF, Helvetica, Arial, serif;   
    font-size: adaptive-margin(40,52);  
    text-transform: uppercase; 
    color: rgb(254, 254, 254);/* #121212; */
    flex: 1;
    cursor: url('../assets/cursor/1.png'), default;
    span {
        background: #34D3D7;
        padding-left: 4px;
        color: #121212;
    }
}
.section03_itemsPlayers {
    display: flex;
    flex-direction: column;
    gap: adaptive-margin(0,10);     
    cursor: url('/assets/cursor/2.png') 50 50, auto;
    
}
.playerBoxContainer {
    display: flex;
    padding-top: 3vw;
    overflow-x: hidden;
    position: relative;
    height: adaptive-margin(600, 760);

}
@keyframes translateXBox {
    0%{
        transform: translateX(50px);   
    }
    100%{
        transform: translateX(0);  
    }
}
@keyframes translateXBox2 {
    0%{
        transform: translateX(-50px);   
    }
    100%{
        transform: translateX(0);  
    }
}
.playerBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    width: adaptive-margin(320, 430);     
    margin-left: -90px;
     
    &:nth-child(1) {
        margin-left: 0;
        transform: translateX(50px); 
        animation: translateXBox 0.6s ease forwards;
        animation-delay: 0.05s;
        /* mask: url(../assets/class/maskL.png);
        mask-size: 100%;
        mask-repeat: no-repeat; */
    }
    &:nth-child(2) {
        transform: translateX(50px); 
        animation: translateXBox 0.6s ease forwards;
        animation-delay: 0.20s;
       /*  mask: url(../assets/class/maskL.png);
        mask-size: 100%;
        mask-repeat: no-repeat; */
    }
    &:nth-child(3) {
        transform: translateX(0);
        animation-delay: 0.10s;
        .playerItemsImageBack {
            /* mask: url(../assets/class/maskMain.png);        
            mask-repeat: no-repeat;
            mask-size: 100%; */
        }
        
    }
    
    &:nth-child(2n){
        z-index: 2;
    }
    &:nth-child(4){
        margin-left: -40px;
        transform: translateX(-50px); 
        animation: translateXBox2 0.6s ease forwards;
        animation-delay: 0.25s;
        /* mask: url(../assets/class/maskR.png);
        mask-size: 100%;
        mask-repeat: no-repeat; */

    }
    &:nth-child(5) {
        transform: translateX(-50px); 
        animation: translateXBox2 0.6s ease forwards;
        animation-delay: 0.15s;
        /* mask: url(../assets/class/maskR.png);
        mask-size: 100%;
        mask-repeat: no-repeat; */
    }
    &Active {
        /* animation: translateXBox 0.3s ease forwards; */
               
        margin-top: 40px;
        z-index: 3;
        margin-left: adaptive-margin(-20, -52);
        .playerItemsImageBack {
            scale: 1.4;
            /* transition: scale 0.2s linear;
             */
        }
        .playerItemsImageMain {
           /*  transition: scale 0.2s linear; */
         /*    scale: 1.4; */
            scale: 1.4;
            left: 14px;
            transform: translateX(50px); 
            animation: translateXBox 0.6s ease forwards;
            
        }
        .playerBoxRow {
            opacity: 1;
            height: auto;
            width: calc(100%* 1.32);
            margin-left: -12%;
            margin-top: 5.5vw;
            /* margin-top: adaptive-margin(100,120);
            margin-left: 25px; */
            /* margin-bottom: 30px; */
             
        }
    }
    
    
}
.playerBoxTriagleTop {
    width: 20px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
}
.playerItems {
}
.playerItemsImages {
    position: relative;
}
.playerItemsImageBack {
    width: 100%;
    /* transition: scale 0.1s linear; */
    /* min-width: 320px;
    min-height: 320px; */
}
.playerItemsImageMain {
    /* min-width: 320px;
    min-height: 320px; */
    /* transition: scale 0.1s linear; */
    position: absolute;
    bottom: 1px;
    left: 17px;
    width: 100%;
    
}
.playerItemsImageSvg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; 
    left: 0;
    scale: 1.4;
}
.playerItemsImageSvgL {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; 
    left: 0;
}
.playerBoxRow {
    opacity: 0;
    height: 0;
    /* margin-top: 15px;
     
    margin-left: 40px;
    scale: 1.425; */
    /* width: 320px; */
   
}
.playerBoxCol {
    display: flex;
    justify-content: space-between;
    
}
.playerBoxTitle {    
    font: 400 32px / 1.2 $fontF, Helvetica, Arial, serif;
    font-size: adaptive-margin(32, 42);
    color: rgb(254, 254, 254);
    letter-spacing: -0.2px;
     
}
.playerBoxText {
    width: 85%;
    font: 500 12.5px / 1.2 $fontR, Helvetica, Arial, serif;
    font-size: adaptive-margin(18, 24);
    color: rgb(112, 112, 112);
    height: 45px;
    
}
.playerBoxNum {
    
    font: 400 32px / 1.2 $fontF, Helvetica, Arial, serif;
    font-size: adaptive-margin(32, 42);
    color: rgb(254, 254, 254);
}
.playerBoxTriagleBottom {
    width: 20px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
}
 
@media (min-width:1951px) {
    .playerBoxContainer {
         
        height: 40vw;
    }
}
@media (min-width:1741px) {
    .playerBox {
         
        &Active {
             
            .playerItemsImageMain {
               /*  transition: scale 0.2s linear; */
             /*    scale: 1.4; */
                scale: 1.3;
                left: 14px;
                margin-bottom: -20px;
                
            }
             
        }
    }
}
@media (max-width:1440px) {
    /* .section03_itemsPlayers {
        gap: 20px;
    } */
}
@media (max-width:1440px) and (min-width:1250px){
    .playerBoxContainer {
        display: flex;
        padding-top: calc(14px + 28 * ((100vw - 1000px) / (1440 - 1000)));
        padding-bottom:calc(1px + 29 * ((100vw - 1000px) / (1440 - 1000)));
        overflow-x: hidden;
        position: relative;
        height: auto;
    }
    }
    @media (max-width:1300px) {
        .playerBoxActive {
            margin-top: 36px;
        }
    }
@media (max-width:1250px) {
    .section03 {
        padding-top: calc(100px + (100) * ((100vw - 360px) / (1250 - 360)));
    }
    .section03_box_title {
        font-size: 28px;
        width: calc(256px + 150 * ((100vw - 800px) / (1250 - 800)));

    }
    .section03_box_text {
        font-size: 32px;
    }
    .playerBoxActive{
        margin-left: -30px;
    }
    .playerBox {
        width: 100%;
    }
    .section03_itemsPlayers {
        gap: 10px;
    }
    .playerBoxContainer {
        height: auto;
        /* padding-bottom: 1vw;
        padding-top: 1vw; */
     
    }
    .playerBox {
        
        margin-left: -115px;
        
       
    }
    .playerBoxActive {
          
        margin-left: -30px;
        .playerBoxRow {
            margin-top: 5.7vw;
        }
    }
     
    .playerBoxTitle, .playerBoxNum {
        font-size: 32px;
    }
    .playerBoxText {
        font-size: 18px;
        height: auto;
    }
    
}
@media (max-width:1200px) {
    .playerBoxActive {
        margin-top: 34px;
    }
}
@media (max-width:1150px) {
.playerBoxActive {
          
    margin-left: -25px;
     
}
}
@media (max-width:1050px) {
.playerBoxActive {
          
    margin-left: -20px;
     
}
}

@media (max-width:1000px) {
    @keyframes translateXBox {
        0%{
            transform: translateX(10px);   
        }
        100%{
            transform: translateX(0);  
        }
    }
    @keyframes translateXBox2 {
        0%{
            transform: translateX(-10px);   
        }
        100%{
            transform: translateX(0);  
        }
    }
    .playerBox {
        
         
        &:nth-child(1) {
            margin-left: 0;
            transform: translateX(10px); 
            animation: translateXBox 0.6s ease forwards;
            animation-delay: 0.05s;
        }
        &:nth-child(2) {
            transform: translateX(10px); 
            animation: translateXBox 0.6s ease forwards;
            animation-delay: 0.20s;
        }
          
        &:nth-child(4){
             
            transform: translateX(-10px); 
            animation: translateXBox2 0.6s ease forwards;
            animation-delay: 0.25s;
    
        }
        &:nth-child(5) {
            transform: translateX(-10px); 
            animation: translateXBox2 0.6s ease forwards;
            animation-delay: 0.15s;
        }
        &Active {
            
            .playerItemsImageMain {
                margin-bottom: -2px;
                scale: 1.4;
                left: 14px;
                transform: translateX(10px); 
                animation: translateXBox 0.6s ease forwards;
                
            }
             
        }
        
        
    }
    .playerItemsImageMain {
        width: 95%;
        
    }
    
    .playerBoxContainer {
         
       /*  padding-bottom: 3.8vw; */
        overflow: hidden;
        padding-top: 4vw;
    }
    .section03_itemsPlayers {
        gap: 15px;
    }

    /* .section03_box_title {
        width: adaptive-marginPh2(55,318.8);
    } */
     
    .playerBoxActive {
        margin-top: 32px;
    }
    .playerBoxActive .playerBoxRow {
        opacity: 1;
        height: auto;        
        margin-top: 6vw;
         
    }
}
@media (max-width:950px) {
    .playerBoxActive {
              
        margin-left: -15px;
         
    }
     
        .playerBoxActive {
            margin-top: 31px;
        }
    
    }
@media (max-width:930px) {
.section03_box {
    flex-direction: column;
    gap: 10px;
}
.section03_box_title {
    width: 100%;
}
.playerBoxActive {
    margin-top: 30px;
}
}
@media (max-width:860px) {
.section03_itemsPlayers {
    padding: 0;
}
.playerBoxContainer  {
    width: 120vw;
    margin-left: -10vw;
    padding-top: 5vw;
}
.playerBoxActive .playerBoxRow {
         
    margin-top: 7.2vw;
     
}
.playerBox {
    margin-left: -66px;
}
.playerBox:nth-child(4) {
    margin-left: -66px;
}
}
@media (max-width:800px) {
    
    .playerBoxTitle, .playerBoxNum {
        font-size: 28px;
    }
    .playerBoxText {
        font-size: 16px;
    }
    .section03_box {
        margin-bottom: 10px;
    }
    .playerBox {
       
        &Active {
            
            .playerItemsImageMain {
                margin-bottom: -1px;
                 
                
            }
             
        }
        
        
    }
    .playerBoxActive {
        margin-top: 28px;
    }
}
@media (max-width:780px)  {
    .playerBoxActive .playerBoxRow {
         
        margin-top: 7.6vw;
         
    }
}
@media (max-width:680px) {
    .playerBoxActive {
        margin-top: 26px;
    }
    .playerBox {
        margin-left: -55px;
    }
    .playerBox:nth-child(4) {
        margin-left: -55px;
    }
    .section03_box_title {
        font-size: 24px;
    }
    .playerBoxContainer {
         
        width: 130vw;
        margin-left: -15vw;
        padding-top: 5vw;        
        overflow: hidden;
    }
    .playerBoxActive .playerBoxRow {
         
        margin-top: 8.6vw;
         
    }

}
@media (max-width:580px) {
    .playerBoxActive {
        margin-top: 24px;
    }
    .playerBoxTitle, .playerBoxNum {
        font-size: 22px;
    }
    .playerBoxText {
        font-size: 14px;
    }
    .playerBoxContainer {
        width: 140vw;
        margin-left: -20vw;
        padding-top: 6vw;
       /*  padding-bottom: 4vw; */
        overflow: hidden;
    }
    .playerBoxActive .playerBoxRow {
         
        margin-top: 9.6vw;
         
    }
}
@media (max-width:480px) {
    .playerBoxActive {
        margin-top: 22px;
    }
    .section03_itemsPlayers {
        gap: 10px;
    }
    .section03_box_text {
        font-size: 28px;
    }
    .playerBoxContainer {
         
            width: 150vw;
            margin-left: -25vw;
        /* padding-bottom: 5vw; */
        overflow: hidden;
    }
    .playerBoxActive .playerBoxRow {
        opacity: 1;
        height: auto;        
        margin-top: 10.6vw;
         
    }
}
@media (max-width:380px) {
    .playerBoxActive {
        margin-top: 20px;
    }
}
