@import 'variables';
@import 'adapt';
.section04 {
    margin: 200px 0;
     
        
         
    
}

.section04Title {    
    margin-bottom: 20px;
    font: 400 32px / 1.1 $fontF, Helvetica, Arial, serif;
    font-size: adaptive-margin(32, 42);
    color: rgb(112, 112, 112);
    text-align: justify;
    letter-spacing: -0.96px;
    cursor: url('../assets/cursor/1.png'), default;
     
}
.section04Box {
    display: flex;
    gap: 20px;
}
 

    
.section04BoxLeft {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    height: adaptive-margin(600,810);
    width: adaptive-margin(670, 906);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section04BoxLeftImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    mask:  url('../assets/magic/Subtract.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
}

/* .section04BoxLeft::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../assets/magic/Subtract.svg');    
    z-index: 0; 
} */

    
     
.section04BoxRight {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;    
    background: url('../assets/04_back.svg') center center / 100% 100% no-repeat;

}
.section04BoxRightItems {
    margin-top: auto;
    margin-left: 60px;
    margin-bottom: adaptive-margin(80,104);
}
.section04BoxCol {
}
.section04BoxImems {
    display: flex;
    align-items: center;
    gap: 10px;
}
.section04BoxTitle {
    text-transform: uppercase;
    font: 400 40px / 1.1 $fontF, Helvetica, Arial, serif;
    font-size: adaptive-margin(40, 50);
    color: rgb(254, 254, 254);
    text-align: justify;
    letter-spacing: -1.2px;
    cursor: url('../assets/cursor/1.png'), default;
}
.section04BoxImemsImg {
    height: adaptive-margin(24,31);
    margin-bottom: adaptive-margin(2,6);
}
.section04BoxText {
    cursor: url('../assets/cursor/1.png'), default;
    width: 80%;
    font: 400 18px / 1.2 $fontR, Helvetica, Arial, serif;
    font-size: adaptive-margin(18, 22);
    color: rgb(254, 254, 254);
    letter-spacing: -0.54px;
    margin-bottom: 20px;
    height: 110px;
}
.section04BoxImage {
    display: flex;
    gap: 24px;
}
.section04BoxImagePrev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: adaptive-margin(50,60);
    height: adaptive-margin(46,54); 
    border-radius: 4px;
    transition: all 0.2s linear;
    svg {
        width: adaptive-margin(24,30);
        height: adaptive-margin(16,19);
    }
}

.section04BoxImageNext {
    display: flex;
    justify-content: center;
    align-items: center;
    width: adaptive-margin(50,60);
    height: adaptive-margin(46,54); 
    border-radius: 4px;
    transition: all 0.2s linear;
    svg {
        width: adaptive-margin(24,30);
        height: adaptive-margin(16,19);
    }
    
}
.section04BoxImgRight {
    
}
.active {
    border: none;
    cursor: url('../assets/cursor/2.png'), pointer;
    background-color: #34D3D7;
    .section04BoxImgLeft {
    
        path {
           fill: #121212;
        }
   }
    .section04BoxImgRight {
    
        path {
           fill: #121212;
        }
   }
}

.section04BoxImagePrev:not(.active) {
    
    cursor: url('../assets/cursor/1.png'), default;
    border: 1px solid var(--White, #FEFEFE);
    .section04BoxImgLeft {
    
        path {
           fill: #FEFEFE;
        }
   }
}
.section04BoxImageNext:not(.active) {
    
    cursor: url('../assets/cursor/1.png'), default;
    border: 1px solid var(--White, #FEFEFE);
    .section04BoxImgRight {
    
        path {
           fill: #FEFEFE;
        }
   }
}
@media (max-width:1250px) {
    .section04BoxTitle {
        font-size: 36px;
    }
    .section04BoxText {
        font-size: 16px;
    }
    .section04Title{
        font-size: 28px;
    }
}