@import 'variables';
@import 'adapt';
.section05 {
    margin-bottom: 200px;
}

.section05Title {
    cursor: url('../assets/cursor/1.png'), default;
    margin-left: adaptive-margin(500, 654);
    margin-right: 40px;
    padding-bottom: 20px;
    font: 400 32px / 1.1 $fontF, Helvetica, Arial, serif;
    font-size: adaptive-margin(32,42);
    color: rgb(112, 112, 112);
    text-align: justify;
    letter-spacing: -0.96px;
    /* border-bottom: 1px solid rgb(64,64,64); */
}
@keyframes showImage {
    0%{
        opacity: 0;
        height: 0;
    }
    50%{
        opacity: 0;
        height: 0;
    }
    100%{
        opacity: 1;
        height: adaptive-margin(233, 275);
    }
}
.section05Col {
    cursor: url('../assets/cursor/2.png'), pointer;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: adaptive-margin(500, 654);
    margin-right: 40px;
    border-top: 1px solid rgb(64,64,64);
    padding-top: 30px;
    padding-bottom: 24px;
    
     
   /*  &.section05ColActive { */
    &.section05ColActive:not(:last-child){
        margin: 0;
        border-top: none;
        padding-right: 40px;
        padding-left: adaptive-margin(500, 654);
        position: relative;
        background-color: rgb(52, 211, 215);
        transition: all 0.3s linear;
        +.section05Col {
            border-top:none;
        }
        .section05RowImageLeft {
            display: block;
            animation: showImage 0.4s ease-in-out forwards;
             
            
        }
        
        .section05RowTitle { 
            color: #121212;
        }
        .section05RowSubtitle { 
            color: #121212;
             
        }

        .section05RowText {
            display: block;
            color: #121212;
            font-family: $fontR;
            font-size: adaptive-margin(18,22);
            font-style: normal;
            font-weight: 400;
            line-height: 110%; /* 19.8px */
            letter-spacing: -0.54px;
            width: adaptive-margin(375,510);
            margin-left: adaptive-margin(70,110);
        }
        .section05RowImage {
            rotate: 180deg;
            path {
                fill: #121212;
            }
        }
    }
}
.section05Row {
    display: flex;
}
.section05RowTitle {
    transition: all 0.3s linear;
    font: 400 38px / 1 $fontF, Helvetica, Arial, serif;
    font-size: adaptive-margin(38,54);
    color: rgb(112, 112, 112);     
    letter-spacing: -1.14px;
    margin-right: adaptive-margin(13,30);
}
.section05RowSubtitle {
    font: 400 38px / 1 $fontF, Helvetica, Arial, serif;
    font-size: adaptive-margin(38,54);
    color: rgb(112, 112, 112);     
    letter-spacing: -1.14px;
    transition: all 0.3s linear;
    text-transform: uppercase;
}
.section05RowImage {
    margin-left: auto;
    transition: all 0.3s linear;
    width: adaptive-margin(40, 50);
    height: adaptive-margin(23,30);
    
}

.section05RowImageLeft {
   
    opacity: 0;
    height: 0;    
    position: absolute;
    left: 40px;
    bottom: adaptive-margin(-39, -45);
}
.section05RowText {
    display: none;
     
    
}
@media (max-width:1440px) {
    .section05RowSubtitle, .section05RowTitle{
        font-size: 38px;
    }
    .section05RowTitle{
        margin-right: 15px;
    }
    .section05Col.section05ColActive:not(:last-child) .section05RowText {
         
        width: 50%;
    }
}
@media (max-width:1250px) {
    @keyframes showImage {
        0%{
            opacity: 0;
            height: 0;
        }
        50%{
            opacity: 0;
            height: 0;
        }
        100%{
            opacity: 1;
            height: 229px;
        }
    }
    .section05Title{
        font-size: 28px;
        margin-left: 15px;
    }
    .section05Col {
            margin-left: 15px;
            margin-right: 15px;
        &.section05ColActive:not(:last-child){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .section05Col.section05ColActive:not(:last-child) .section05RowText {
        margin-left: 0;
        width: 40%;
        font-size: 18px;

    }
    .section05RowImageLeft{
        
        left:50%;
    }
}
