@import 'variables';
@import 'adapt';
.section06 {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
 
.section06BoxFirst {
    display: flex;
}
.section06BoxFirstTitle {
    cursor: url('../assets/cursor/1.png'), default;
    width: adaptive-margin(460, 614);
    font: 400 32px / 1.1 $fontF, Helvetica, Arial, serif;
    font-size: adaptive-margin(32,42);
    color: rgb(112, 112, 112);     
    letter-spacing: -0.96px;
}
.section06BoxFirstItems {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: adaptive-margin(15,20);
}
.section06Subtext {
    cursor: url('../assets/cursor/1.png'), default;
    color:  #FEFEFE;
    text-align: justify;
    font-family: $fontF;
    font-size: adaptive-margin(40,52);
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 36px */
    text-transform: uppercase;
    span {
       color: rgb(18, 18, 18);
       background: #34d3d7;
       padding-left: 4px;
    }
}
.section06BoxFirstItemElements {
    display: flex;
    gap: adaptive-margin(40,50);
    width: 87%;
}
.section06BoxLeft {
    display: flex;
    flex-direction: column;
    gap: adaptive-margin(10,15);
    width: 51%;
}
.section06Text {
    color: #707070;
    font-family: $fontR;
    font-size: adaptive-margin(18,24);
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 19.8px */
    letter-spacing: -0.54px;
    cursor: url('../assets/cursor/1.png'), default;
}
.section06BoxRight {
    display: flex;
    flex-direction: column;
    width: 49%;
}
.section06LinkBox {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    color:  #FEFEFE;
    font-family: $fontF;
    font-size: adaptive-margin(20,28);
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: -0.6px;
    border-bottom: 1px solid #FEFEFE;
    width: adaptive-margin(300,400);
    transition: all 0.4s linear;
    &:hover {
        border-bottom: 1px solid #34D3D7;
        color:  #34D3D7;
        .section06LinkImg {
            rotate: -90deg;
            rect {
                fill: #34D3D7;
            }
            path {
                fill: #34D3D7;
            }
        }
    }
}
.section06Link {
    margin-bottom: -2px;
    font-family: $fontF;
    font-size: adaptive-margin(22,28);
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
    letter-spacing: -0.6px;
}
.section06LinkImg {
    rotate: 0deg;
    margin-top: 3px;
    transition: all 0.4s linear;
    width: adaptive-margin(18,24);
    height: adaptive-margin(18,24);
    path{
        transition: all 0.4s linear;
    }
    rect{
        transition: all 0.4s linear;
    }
}
.section06BoxSecond {
    display: flex;
}
.section06BoxSecondItemImg {
    width: adaptive-margin(460, 614);
    img {
        width: adaptive-margin(250,300);
        height: adaptive-margin(250,300);
    }
}
.section06BoxSecondItemImg2{
    flex:1;
    img {
        width: 87%;
    }
}
.section06BoxSecondText {
    color: #707070;
    text-align: justify;
    font-family: $fontR;
    font-size: adaptive-margin(16,20);
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 17.6px */
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin-top: adaptive-margin(10,12);
    cursor: url('../assets/cursor/1.png'), default;
}
.section06BoxSecondItemImg2_mob {
    display: none;
}
@media (max-width:1250px) {
    .section06 {
        margin-bottom: calc(100px + (100) * ((100vw - 360px) / (1250 - 360)));
    }
    .section06BoxFirstItemElements {
        width: 100%;
    }
    .section06BoxSecondItemImg2 img {
        width: 100%;
    }
    .section06BoxFirstTitle{
        font-size: 28px;
        width: calc(256px + 150 * ((100vw - 800px) / (1250 - 800)));
    }
    .section06BoxSecondItemImg {
        width: calc(256px + 150 * ((100vw - 800px) / (1250 - 800)));
    }
    .section06BoxFirstItems {
        gap: 10px;
    }
    .section06Subtext {
        font-size: 32px;
    }
    .section06Text {
        font-size: 18px;
    }
    .section06LinkBox {
        font-size: 20px;
        width: 100%;
    }
    .section06BoxSecondText {
        font-size: 16px;
    }
    .section06Link {
        font-size: 20px;
    }
    .section06LinkImg {
        height: 16px;
        width: 16px;
    }
    .section06LinkBox {
        margin-top: 10px;
    }
    .section06BoxLeft {
        gap:10px;
    }
}
@media (max-width:1000px) {
    /* .section06BoxFirstTitle {
        width: adaptive-marginPh2(55,318.8);
    }  */ 
}
@media (max-width:950px) {
    .section06BoxFirst {
        flex-direction: column;
        gap: 10px;
    }
    .section06BoxFirstItemElements {
        
        
        width: 100%;
    }
    .section06BoxLeft {
        width: 60%;
    }
}
@media (max-width:950px) {
    .section06BoxSecondItemImg {
        display: none;
    }
    .section06BoxFirstItemElements {
        width: 100%;
    }
    .section06BoxSecondItemImg2 img {
        width: 100%;
    }
}
@media (max-width:680px) {
    .section06BoxFirstItemElements {
        flex-direction: column;
        gap: 10px;
    }
    .section06BoxLeft {
        width: 100%;
    }
    .section06BoxRight {
        width: 100%;
    }
    .section06BoxFirstTitle {
        font-size: 24px;
    }
    .section06BoxSecond {
        display: none;
    }
    .section06BoxSecondItemImg2_mob {
        display: block;
    }
}
@media (max-width:580px) {
     
    .section06Subtext {
        font-size: 28px;
    }
    .section06Text {
        font-size: 16px;
    }
}
@media (max-width:480px) {
   
  
}