@import 'variables';
@import 'adapt';
.section07 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(960px * 1vw/14px);   
    background: url("../assets/auctionArcade/07Main.png") center center / 100% 100% no-repeat;
}
.section07Box {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: adaptive-margin(124, 200);
    margin-left: auto;
    margin-right: auto;
    width: adaptive-margin(625, 736);
    height: adaptive-margin(272, 320);
    background: url('../assets/b0632414050a3e88241c29b463f56596.png') center center / 100% 100% no-repeat;
    padding-top: 30px;
}
.section07Title {
    cursor: url('../assets/cursor/1.png'), default;
    margin: 0 14px;
    text-transform: uppercase;
    font: 400 38px / 0.89 $fontF, Helvetica, Arial, serif;
    font-size: adaptive-margin(38,48);
    color: rgb(254, 254, 254);
    text-align: center;
    letter-spacing: -1.14px;
}
.section07Text {
    color: #FEFEFE;
    text-align: center;
    font-family: $fontR;
    font-size: adaptive-margin(18,22);
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 19.8px */
    letter-spacing: -0.54px;
    width: adaptive-margin(480,560);
    cursor: url('../assets/cursor/1.png'), default;
    margin-top: 6px;
}
.section07BtnBox {
    display: flex;
    position: relative;
    margin-top: 20px;
    &:hover {
        .section07Btn {
          top: 0;
          left: 0;
          background-color: #34D3D7;
          path {
            fill: #34D3D7;
          }
        }
        .section07BtnText {
          left: calc(50% - 53px); 
          top: calc(50% - 10px);
        }
      }
}
.section07BtnSvg {
    width: calc(100vw /1440 * 320);
    height: calc(100vw /1440 * 36);
}
.section07Btn {
    position: absolute;
    top: adaptive-margin(-6,-8);
    left:  adaptive-margin(-6,-8);
    background-size: 100%;
    width: calc(100vw /1440 * 320);
    height: calc(100vw /1440 * 36); 
    background-color: #FEFEFE;
    cursor: url('../assets/cursor/2.png'), pointer;
    transition: all 0.2s linear;
    color: #121212;
    font-family: $fontR;
    font-size: adaptive-margin(16,18);
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.48px;
    text-transform: capitalize;
    text-align: center;
    mask:  url('../assets/mask3.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
    path {
        transition: all 0.2s linear;    
      }
    }
    .section07BtnText{
        color: #121212;
        font-family: $fontR;
        font-size: adaptive-margin(16,18);
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 19.2px */
        letter-spacing: -0.48px;
        text-transform: capitalize;
        text-align: center;
        position: absolute;
        left: calc(50% - 57px);
        top: calc(50% - 15px);
        transition: all 0.2s linear;
        cursor: url('../assets/cursor/2.png'), pointer;
         
    }
    @media (max-width:1250px) {
      .section07BtnText, .section07Text {
        font-size: 16px;
      }
      .section07Box {
        margin-bottom: 100px;
      }
      .section07Title {
        font-size: 28px;
      }
    }
    @media (max-width:1250px) {
      .section07Box {
        width: 450px;
        height: 236px;
      }
      .section07Btn {
        width: 320px;
        height: 36px;
        left: calc(50% - 164px);
        top: -4px;
        font-size: 16px;

      }
      .section07BtnSvg {
        width: 320px;
        height: 36px;
      }
      .section07Text {
        width: 90%;
      }
    }
    @media (max-width:1000px) {
      .section07 {
        height: calc(670px + (200) * ((100vw - 360px) / (1000 - 360)));
        background-size: cover;
      }
      
    }
    @media (max-width:680px) {
       
    }
    @media (max-width:580px) {
       
    }
    @media (max-width:480px) {
       
      .section07Text {
        font-size: 14px;
      }
      .section07Box  {
        width: calc(100% - 20px);
        background: url('../assets/arcade/arcadeMob.png') center center / 100% 100% no-repeat;
      }
      
    }
    @media (max-width: 390px) {
      .section07Btn {
          width: 300px;
          height: 36px;
          left: calc(50% - 154px);
          top: -4px;
          font-size: 16px;
      }
      .section07BtnSvg {
        width: 300px;
        height: 34px;
    }
  }