@import 'variables';
@import 'adapt';
.section08 {
    display: flex;
    flex-direction: column;
    gap: adaptive-margin(36,30);
    margin-top: 200px;
    margin-bottom: 200px;
}
.section08FirstBox {
    display: flex;
}
.section08Title {
    cursor: url('../assets/cursor/1.png'), default;
    color: #707070;
    text-align: justify;
    font-family: $fontF;
    font-size: adaptive-margin(32,42);
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 35.2px */
    letter-spacing: -0.96px;
    width: adaptive-margin(460, 614);
}
.section08FirstText {
    cursor: url('../assets/cursor/1.png'), default;
    flex: 1;
    color: #FEFEFE;     
    font-family: $fontF;
    font-size: adaptive-margin(40,52);
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 36px */
    text-transform: uppercase;
    span {
        color: #121212;
        background-color: #34d3d7;
        padding-left: 4px;
    }
}
.section08SecondBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 1px; */
}
.section08Card {
    cursor: url('../assets/cursor/2.png'), pointer;
    /* outline: 1px solid #404040; */
    padding: adaptive-margin(30,40);
    height: adaptive-margin(400,461);
    display: flex;
    flex-direction: column;
    transition: all 0.4s linear;
    border:1px solid #404040;
    margin-top: -1px;
    .section08CardText {
        height: adaptive-margin(80,97);
    }
     
        .section08CardText {
            font-size: 18px;
            height: 116px;
        }
  /*   &:nth-child(1){
        .section08CardImg {                 
            margin-bottom: adaptive-margin(3,6);;
        } 
            
    }
    &:nth-child(2){
        .section08CardImg {                 
            margin-bottom: adaptive-margin(3,6);;
        } 
    }    */ 
        
    &:nth-child(6){
        .section08CardText {
            height: adaptive-margin(100,121);
        }
        /* padding-bottom: adaptive-margin(49,61); */

    }
    &:nth-child(7){
        .section08CardText {
            height: adaptive-margin(100,121);
        }
        /* padding-bottom: adaptive-margin(49,61); */

    }
    &:nth-child(8){
        .section08CardText {
            height: adaptive-margin(100,121);
        }
    }
    &:nth-child(9){
        .section08CardText {
            height: adaptive-margin(100,121);
        }
    }
    &:nth-child(10){
        .section08CardText {
            height: adaptive-margin(100,121);
        }
    }
        /* padding-bottom: adaptive-margin(49,61); */

    
    &:nth-child(2n) {
        margin-left: -1px;
      
    }
    &:nth-child(7) {
        margin-left: -1px;
      
    }
    &:last-child {
        .section08CardImg {
            margin-left: adaptive-margin(-15, -21);
           /*  margin-bottom: adaptive-margin(3,5); */
        }
    }
}
 
.section08Card:not(.section08CardSoon) {
    
    &:hover {
        /* outline: 1px solid #34D3D7; */
        border:1px solid #34D3D7;
        z-index: 2;
        .section08CardElements::after {
            right: 0;
        }
        .section08CardTitle {
            color: #34D3D7;
        }
        .section08CardImgSvg {
            rotate: -90deg;
            path {
                fill: #34D3D7;
            }
            rect {
                fill: #34D3D7;
            }
        }
        .section08CardText {
            color: #FEFEFE;
        }
    }
   
}
.section08CardSoon {
    cursor: url('../assets/cursor/1.png'), default;
}
.section08CardOpacity {
    opacity: 0;
    cursor: url('../assets/cursor/1.png'), default;
    
}
.section08CardBox {
    /* padding-bottom: 150px; */
}
.section08CardNum {
    color:  #34D3D7;
    font-family: $fontF2;
    font-size: adaptive-margin(24,30);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    letter-spacing: -0.72px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.section08CardElements {
    display: flex;
    align-items: flex-end;
    width: fit-content;
    position: relative;
}
 

.section08CardElements::after {
    content: '';
    position: absolute;
    left: 0;
    right: 100%;
    bottom: -6px;
    height: 1px;
    background: #34D3D7;
    transition: right 0.4s ease-in-out;
}


.section08CardTitle {
    color: #FEFEFE;
    font-family: $fontF2;
    font-size: adaptive-margin(38,48);
    font-style: normal;
    font-weight: 400;
    line-height: 50%; /* 34.2px */
    letter-spacing: -1.14px;
    text-transform: uppercase;  
    margin-right: 8px;
    margin-top: 2px;
    width: min-content;
    min-width: 73px;
    transition: all 0.4s linear;
}
.section08CardTitleInGame {
    margin-bottom: 10px;
    margin-top: 4px;
    width: fit-content;
}
.section08CardTitleInGame2 {
    width: fit-content;
}
.section08CardSubtitle {
    color: #707070;
    font-family: $fontF2;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    letter-spacing: -0.72px;
    text-transform: uppercase;
}
.section08CardImg {
    /* margin-bottom: adaptive-margin(3,5); */
    height: adaptive-margin(24,29);
    flex-grow: 1
}
/* .section08Card {
&:nth-child(4){
    .section08CardImg {                 
        margin-bottom: adaptive-margin(3,6);
    } 
     
}
&:nth-child(9){
    .section08CardImg {                 
        margin-bottom: adaptive-margin(3,6);
    } 
     
}
}*/
.section08CardImgSvg {
     transition: all 0.4s linear;
     width: adaptive-margin(24,29);
     height: adaptive-margin(24,29);
     path {
        transition: all 0.4s linear;
     }
     rect {
        transition: all 0.4s linear;
     }
}
.section08CardText {
    color: #707070;
    font-family: $fontR;
    font-size: adaptive-margin(18,22);
    font-style: normal;
    font-weight: 400;
    line-height: 110%; 
    letter-spacing: -0.54px;
    margin-top: auto;
    transition: all 0.4s linear;
}
@media (min-width:1440px) and (max-width:1540px) {
    .section08Card {
         
        
         
        &:nth-child(9){
            .section08CardText {
                height: 121px;
            }
        }
        &:nth-child(10){
            .section08CardText {
                height: 121px;
            }
        }
    }
}
@media (max-width:1440px) {
    .section08Card {
        .section08CardText {
            font-size: 18px;
            height: 116px;
        }
        /* &:nth-child(4){
            .section08CardImg {                 
                margin-bottom: 4px;
            } 
             
        }
        &:nth-child(9){
            .section08CardImg {                 
                margin-bottom: 4px;
            } 
             
        } */
        &:nth-child(6){
            .section08CardText {
                height: 116px;
            }
            /* padding-bottom: adaptive-margin(49,61); */
    
        }
        &:nth-child(7){
            .section08CardText {
                height: 116px;
            }
            /* padding-bottom: adaptive-margin(49,61); */
    
        }
        &:nth-child(8){
            .section08CardText {
                height: 116px;
            }
        }
        &:nth-child(9){
            .section08CardText {
                height: 116px;
            }
        }
        &:nth-child(10){
            .section08CardText {
                height: 116px;
            }
        }
       /*  &:last-child {
            .section08CardImg {
                margin-left: -15px;
                margin-bottom: 4px;
            }
        } */
    
    
}
.section08CardImg {
    height: 24px;
   /*  margin-bottom: 3px; */
}
.section08CardImgSvg {
    width: 24px;
    height: 24px;
}
.section08Card:last-child .section08CardImg {
    margin-left: -16px;
}
}
@media (max-width:1250px) {
    .section08 {
        margin: calc(100px + (100) * ((100vw - 360px) / (1250 - 360))) 0;
        gap: 20px;
    }
    .section08Title {
        font-size: 28px;
    }
    .section08FirstText {
        font-size: 32px;
    }
    .section08CardTitle {
        font-size: 38px;
         
    }
    .section08CardImgSvg {
        width: 24px;
        height: 24px;
    }
     
    .section08CardNum {
        font-size: 24px;

    }
    .section08Card:nth-child(9) {
        margin-left: -1px;
    }
    .section08Title {
        width: calc(256px + 150 * ((100vw - 800px) / (1250 - 800)));
    } 
    /* .section08Card:nth-child(1) .section08CardImg {
        margin-bottom: 3px;
    }
    .section08Card:nth-child(2) .section08CardImg {
        margin-bottom: 3px;
    }
    .section08Card:last-child .section08CardImg {
        margin-left: -15px;
        margin-bottom: 3px;
    }
    .section08CardImg {
        margin-bottom: 3px;
    } */
    /* .section08Card {
        &:nth-child(4){
            .section08CardImg {                 
                margin-bottom: 3px;
            } 
             
        }
        &:nth-child(9){
            .section08CardImg {                 
                margin-bottom: 3px;
            } 
             
        }
        } */
}
@media (max-width:1000px) {
     
}
@media (max-width:950px) {
    .section08Title {
        width: 100%;
    }
    .section08FirstBox {
        flex-direction: column;
        gap: 10px;
    }
    
}
@media (max-width:900px)  {
    /* .section08Card:last-child .section08CardImg {
       
        margin-bottom: 4px;
    }
    
    .section08Card {
        &:nth-child(4){
            .section08CardImg {                 
                margin-bottom: 4px;
            } 
             
        }
        &:nth-child(9){
            .section08CardImg {                 
                margin-bottom: 4px;
            } 
             
        }
    } */
}
@media (max-width:850px) {
    .section08Card:nth-child(8) .section08CardText {
        height: 145px;
    }
    .section08Card:nth-child(9) .section08CardText {
        height: 145px;
    }
    .section08Card:nth-child(10) .section08CardText {
        height: 145px;
    }
}
@media (max-width:810px) {
    .section08Card:nth-child(8) .section08CardText {
        height: 164px;
    }
    .section08Card:nth-child(9) .section08CardText {
        height: 164px;
    }
    .section08Card:nth-child(10) .section08CardText {
        height: 164px;
    }
}
@media (max-width:810px) {
    .section08SecondBox {
        display: flex;
    }
    .section08CardOpacity {
        display: none;
    }
    .section08Card {
        width: calc(100% /2.2);
        height: 400px;
        margin-top: 0;
        flex: 0 0 auto;
        padding: 30px;
    }
    .section08SecondBoxMain {
        overflow: auto;
       
    }
    .section08SecondBoxMain::-webkit-scrollbar { width: 0; }
    .section08Card:nth-child(8) .section08CardText {
        height: 116px;
    }
    .section08Card:nth-child(9) .section08CardText {
        height: 116px;
    }
    .section08Card:nth-child(10) .section08CardText {
        height: 116px;
    }
}
@media (max-width:750px)  {
    .section08Card {
        width: calc(100% /1.8);
        height: 400px;
    }
}
@media (max-width:680px) {
    .section08FirstText {
        font-size: 28px;
    }
    .section08Title {
        font-size: 24px;
    }
    /* .section08CardImg {
        margin-bottom: 4px;
    } */
    .section08Card {
        /* &:nth-child(1){
            .section08CardImg {                 
                margin-bottom: 4px;
            } 
             
        }
        &:nth-child(2){
            .section08CardImg {                 
                margin-bottom: 4px;
            } 
             
        }
        &:nth-child(4){
            .section08CardImg {                 
                margin-bottom: 4px;
            } 
             
        }
        &:nth-child(5){
            .section08CardImg {                 
                margin-bottom: 4px;
            } 
             
        }
        &:nth-child(9){
            .section08CardImg {                 
                margin-bottom: 5px;
            } 
             
        }
        &:nth-child(10){
            .section08CardImg {                 
                margin-bottom: 5px;
            } 
             
        } */
        }
}
@media (max-width:610px)  {
    .section08Card {
        width: calc(100% /1.8);
        height: 400px;
        /* &:nth-child(9){
            .section08CardImg {                 
                margin-bottom: 4px;
            } 
             
        }
        &:nth-child(10){
            .section08CardImg {                 
                margin-bottom: 4px;
            } 
             
        } */
        }
    
}
@media (max-width:580px) {
    .section08Card {
        width: 340px;
        /* .section08CardImg {
            margin-bottom: 2px;
        }
       
        &:last-child {
            .section08CardImg {
                margin-left: -15px;
                margin-bottom: 2px;
            }
        } */
    }
    /* .section08CardElements {
        align-items: baseline;
    } */
    /* .section08CardImg {
        align-self: end;
    } */
}
@media (max-width:480px) {
    .section08 {
        
        gap: 10px;
    }
  
}
@media (max-width:380px)  {
    .section08Card {
        width: calc(100% /1.1);
        height: 400px;
    }
}