@keyframes btnBurgerAnim {
    0% {
        left: -4px;
        top: -4px;
        background-color: #fefefe;
    }
    30% {
        left: 0;
        top: 0;
        background-color: #34D3D7;
    }
    70% {
        left: 0;
        top: 0;
        background-color: #34D3D7;
    }
    100%{
        left: -4px;
        top: -4px;
        background-color: #34D3D7;
    }
}
.burger {
    margin-left: 30px;
    position: relative;
    &.burgerActive {
        z-index: 3;
        .burger_btn {
            
            
        }
        
    }
}
.burger_btn {
    background-color: #fefefe;
    width: 66px;
    height: 36px;
    mask: url('../assets/burger/burger.svg');
    mask-size: 100%;
    mask-repeat: no-repeat;
    position: absolute;
    left: -4px;
    top: -4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
     
}
.burger_btn_Active {
    animation: btnBurgerAnim 0.4s linear forwards;
}
.burger_Back {
    transition: all 0.2s linear;
    &.burger_Back_Active {
        path {
            fill: #34D3D7;
        }
    }
}
.burgerLine {
    height: 2.9px;
    width: 30px;
    transition: all 0.2s linear;
}
.burgerLine1 {
    &.lineActive {
        rotate: 33deg;
    }
}
.burgerLine2 {
    &.lineActive {
        display: none;
    }
}
.burgerLine3 {
    &.lineActive {
        rotate: 147deg;
        margin-top: -7px;
    }
}
/* .burger_menu {
    z-index: 2;
    background:rgba($color: #000000, $alpha: 0.4);
    height: 0;
    width: 0;
     
    &.burger_menu_Active {
        position: fixed;
        height: 200vh;
        width: 100vw;
        .burger_menu_container {
             
            background: rgba($color: #000000, $alpha: 1);
            height: 100%;
            width: 331px;
            margin-left: auto;
            transition: width 0.2s linear;
            .burger_line {
                width: 100%;
                height: 1px;
                background-color: #34D3D7;
            }
        }
        
    }
    
}
.burger_menu_container {
    width: 0;
    transition: width 0.2s linear;
}
.overflow-hidden {
    overflow: hidden;
}
 
.section01NavBox_Active {
    z-index: 3;
}
 */
 .section01NavBox_Active {
    z-index: 3;
    width: 200px;
    flex: none;
    margin-left: auto;
}
.section01NavBox_Active_2 {
    background: #262626;
    /* height: 56px;
    padding-bottom: 3px;
    padding-left: 6px;
    margin-bottom: 18px; */
    .playerImage {
        border: 2px solid #34D3D7;
        border-radius: 50%;
    }
}
 .burger_menu {
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    position: fixed; /* Added */
    top: 0; /* Added for the positioning */
    left: 0; /* Added for the positioning */
    height: 100vh; /* Changed from 0 for smooth transition */
    width: 100vw; /* Fill the screen */
    opacity: 0; /* Hides the initial state */
    pointer-events: none; /* Prevent interactions */
    transition: opacity 0.4s ease; /* Smooth transition */
}
.overflow-hidden {
    overflow: hidden;
}
.burger_menu_active {
    opacity: 1; /* Show when active */
    pointer-events: auto; /* Allow interactions */
}

.burger_menu_container {
    width: 0;
    transition: width 0.4s ease; /* Smooth transition */
}
.burgerBlockPlayerBox2, .burger_menu_btn_box {
    display: none;
}
.burger_menu_active .burger_menu_container {
    width: 331px; 
    background: rgba($color: #000000, $alpha: 1);
    height: 100%;     
    margin-left: auto;
    display: flex;
    flex-direction: column;
    .burger_box {
        display: flex;
    }
    .burger_line {
        width: 100%;
    }
    .burger_menu_btn_box {
        display: block;
    }
   /*  .burgerBlockPlayerBox2, .burgerBlockPlayerBox3{
        padding-left: 32px;
        width: 220px;
        display: flex;
        flex-direction: column;
        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        a {
            font-size: 22px;
        }
    } */
    
    .burgerBlockPlayerBox2 {
        padding-left: 22px;
        width: 220px;
        display: flex;
        flex-direction: column;
        margin: 30px 0;
    }
    .burgerBlockPlayerBox3 {
        margin: 0;
        width: 170px;
    }
    .burgerBlockPlayerBox2Title {
        color: #717171;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; 
        margin-bottom: 10px;
        padding-left: 10px;
    }
    
     
    .burgerBlockPlayerBoxItems {
        display: flex;
        flex-direction: column;
        
    }
    .burgerBlockPlayerLink {
        padding-left: 10px;
        text-decoration: none;
        color: #FFF;
        font-family: Rubik;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%; /* 24.2px */
        display: flex;
        align-items: center;
        gap: 16px;
        height: 36px;
        transition: all 0.2s linear;
        &:hover {
            background-color: #313131;
            border-radius: 4px;
        }
    }
    .burgerBlockPlayerIcon {
        width: 20px;
        height: 20px;
         
    }

     
     
    
    
}

.burger_Back {
    transition: fill 0.2s linear; /* Smooth fill transition */
}
.burger_line {
    width: 0;
    height: 1px;
    background-color: none;
    border-bottom: #404040 1px solid;
    padding-top: 105px;
}
.burger_box {
    display: none;
    flex-direction: column;
    gap: 16px;
    padding-top: 30px;
}
.burger_box_2 {
    padding-top: 12px;
}
.burger_title {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: #fefefe;
    padding-left: 26px;
    width: fit-content;
}
.burger_box_2 {
    height: 33px;
    transition: height 0.2s linear;
}
.burger_box_2_Active {
    height: 142px;
    background-color: #34D3D7;
    margin: 0 16px;
    border-radius: 6px;
    .burger_title {
        color: #121212;
        padding-left: 10px;
    }
    .burger_box_links {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .burger_title_svg {
         
        rotate: 0deg;
        margin-bottom: 0;
        path {
            fill: #121212;
        }
    }
}
.burger_box_links {
    display: none;
    padding-top: 10px;
}
.burger_box_link {
    padding-left: 10px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #121212;
    width: fit-content;

}
.burger_menu_btn_box {
    margin-top: auto;
    padding-left: 20px;
    position: relative;
    padding-bottom: 36px;
    &:hover {
        .burger_menu_btn {
            top: 0;
            left: 20px;
            background: #34D3D7;
        }
    }
}
.burger_menu_btn {
    width: 295px;
    height: 45px;
    background: #fefefe;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    letter-spacing: -0.03em;
    color: #121212;
    position: absolute;
    top: -4px;
    left: 16px;
    transition: all 0.2s linear;
    mask-size: 100%;
    mask-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    mask: url(../assets/burger/maskB.svg);

    .burger_menu_btn_svg {
        margin-right: 5px;
    }

}
.burger_menu_btn_img {
    width: 295px;
    height: 45px;
 
}
.burger_title_svg {
    margin-left: 146px;
    rotate: 60deg;
    margin-bottom: -2px;
    transition: all 0.2s linear;
    path {
        fill: #fefefe;
    }
}