@import 'variables';
@import 'adapt';
.footer {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    
}
.footerRoad {
}
.footerRow {
    background: #202020;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    &:last-child{
        padding-bottom: 30px;
        align-items: baseline;
        cursor: url('../assets/cursor/2.png'), pointer;
    }
}

.footerLeft {
}
.footerLogo {
    display: flex;
    gap: adaptive-margin(28,35);
}
.footerLogoSvg1 {
    width: adaptive-margin(292,365);
    height: adaptive-margin(72,90);
}
.footerLogoSvg2{
    width: adaptive-margin(240,300);
    height: adaptive-margin(72,90);

}
.footerLogoText {
    color: #FEFEFE;
    font-family: $fontR;
    margin: adaptive-margin(26,30) 0 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    letter-spacing: -0.6px;
    cursor: url('../assets/cursor/1.png'), default;
}
.footerLogoConnect {
    display: flex;
    gap: 16px;
    cursor: url('../assets/cursor/2.png'), pointer;
}
.footerLogoConnectBtn {
    width: 50px;
    height: 50px;
    border: 1px solid #404040;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s linear;
    svg {
        path {
            transition: all 0.4s linear;
        }
    }
    &:hover {
        background-color: #FEFEFE;
        svg {
            path {
                fill: #121212;
            }
        }
    }
}
.footerRight {
    display: flex;
    width: 50%;
    gap: adaptive-margin(115,196);
}
.footerRightBoxStart {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 130px;
}
.footerRightBoxTitle {
    color: #FEFEFE;
    font-family: $fontR;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    letter-spacing: -0.6px;
    cursor: url('../assets/cursor/1.png'), default;
    
}
.footerRightBoxLink {
    color:  #707070;
    font-family: $fontR;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    align-items: center;
    transition: all 0.2s linear;
     
    &:hover {
        gap: 5px;
        color: #FEFEFE;
        .footerLinkIcon {
            width: adaptive-margin(5,8);
            height: adaptive-margin(5,8);
            opacity: 1;
        }
    }
}
.footerLinkIcon {
    width: 0px;
    height: 0px;
    opacity: 0;
    transition: all 0.2s linear;
}
.footerRightBoxCenter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 119px;
}
.footerBoxLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footerRightBoxEnd {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 117px;
}
.footerLabel {
    display: flex;
    gap: 5px;
    align-items: baseline;
}
.footerLabelText {
    color:  #707070;
    font-family: $fontR;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 1px; /* 21.6px */
}
.footerDoc {
    display: flex;
    gap: 10px;
}
.footerPrivacy {
    color: #707070;
    font-family: $fontR;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    text-transform: uppercase;
    transition: color 0.2s linear;
    &:hover {
        color: #FEFEFE;
    }
}
.footerPrivacyLine {
    color: #707070;
    font-family: $fontR;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    text-transform: uppercase;
}
.footerPrivacyTerms {
    color: #707070;
    font-family: $fontR;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    text-transform: uppercase;
    transition: color 0.2s linear;
    &:hover {
        color: #FEFEFE;
    }
}
.footerLogoYanstoke {
    display: flex;
    align-items: baseline;
    gap: 6px;
}
.footerLogoYanstokeText {
    color: #707070;
    font-family: $fontR;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
    margin-top: 4px;
}
.footerLogoConnect_mob {
    display: none;
}
input[type="checkbox"] {
    display: none; /* Скрываем checkbox */
}
.footerImageTrial {
    display: none;
}
@media (max-width:1000px) {
    .footerRightBoxLink {
        
         
        &:hover {
            
            .footerLinkIcon {
                width: 5px;
                height: 5px;
                opacity: 1;
            }
        }
    }
}
@media (max-width:930px) {
   .footerRow:first-child {
    flex-direction: column;
    gap: 40px;
   }
   .footerRight {
    width: 100%;
    gap: 0;
    flex-wrap: wrap;
   }
   .footerRightBoxStart {
    width: 50%;
   }
   .footerRightBoxCenter {
    width: 50%;
   }
   .footerRightBoxEnd {
    width: 50%;
    margin-top: 20px;
   }
   .footerLogoText {
    display: none;
   }
   .footerLogoConnect {
    display: none;
   }
   .footerLogoConnect_mob {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    .footerLogoConnect {
        display: flex;
    }
    .footerLogoText {
        display: flex;
        margin-top: 10px;
    }
   }
   .footerRow {
    padding-top: 60px;
   }
}
@media (max-width:680px) {
   
}
@media (max-width:620px) {
    @keyframes opacityFooter {
        0%{
            opacity: 0;
            height: 0;
        }
        100%{
            opacity: 1;
            height: max-content;
        }
    }
    .footerBoxLinks {
        display: none;
        height: 0;
        opacity: 0;
        transition: all 0.2s linear;
    }
     
    .footerRightBoxTitle {
        display: flex;
        align-items: center;
        gap: 6px;
    }
    
    
    input[type="checkbox"]:checked + .footerRightBoxTitle + .footerBoxLinks {
        display: flex;
        flex-direction: column;
        animation: opacityFooter 0.2s linear forwards; /* Показываем элемент при активированном checkbox */
        gap: 10px;
        height: auto;
        margin-top: 10px;
        /* .footerLinkIcon {
            width: 8px;
            height: 8px;
        } */
          
    }
    .footerImageTrial {
        display: block;
        transition: all 0.2s linear;
        height:100%;
        width: 9px;
    }
    input[type="checkbox"]:checked + .footerRightBoxTitle{
        .footerImageTrial {
            rotate: 60deg;
        } 
    }
    .footerRow:last-child {
        flex-wrap: wrap;
        gap: 16px;
    }
    .footerLabel {
        width: 50%;
    }
    .footerDoc {
        width: 100%;
        order: -1;
    }
    .footerLogoYanstoke {
         
    }
    .footerRow {
        padding-top: 40px;
       }
       @keyframes opacityFooter {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
       }
    .footerRightBoxStart {
        width: 100%;
        gap: 0;
         
       }
       .footerRightBoxCenter {
        width: 100%;
        margin-top: 24px;
        gap: 0;
       }
       .footerRightBoxEnd {
        width: 100%;
        margin-top: 24px;
        gap: 0;
       }
       .footerLogoConnect_mob {
        width: 100%;
        margin-top: 40px;
       }
       
}
@media (max-width:480px) {
   
  
}